<ion-header>
  <ion-toolbar>
    <ion-title>
        Budget Highlights
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="welcome-card">
      <ion-card-content *ngIf="budgetData.length != 0">
        <ion-list>
          <ion-item *ngFor="let obj of budgetData, let i=index">
            <ion-grid>
              <ion-row>
                <ion-col align-self-baseline >
                    <ion-icon name="send"></ion-icon> 
                     {{obj}}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-card-content>
      </ion-card>
      </ion-content>
